<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
<nav th:fragment="navbar">
    <a th:href="@{/}" class="ml-auto">NGO Anderlecht</a>
    <a th:href="@{/}">evenmenten</a>
    <a th:href="{/events/new}">Nieuwe evenment</a>
    <a th:href="{/about}">Over ons</a>
    <a th:href="{/contact}">Contact</a>
</nav>
</body>
</html>